#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-pointer{
  --size: 2rem;
  position: absolute;
  top:calc(var(--size) / -2);
  left:calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  pointer-events:none;
  background-color:aqua;
}
